header{
    background: blue;
}
nav{
    background: blue;
    text-align: center;
    color: white;
}
#tit{
    text-align: center;
    background: cornflowerblue;
}
.ciudades{
    width: 200px;
    height: 200px;
    border: 3px solid #ad4731;
    background: aqua;
    margin-right: 12px;
    margin: 10px;
    display: inline-block;
}
